@use '../../styles/variables' as *;

.container {
  position: absolute;
  inset: 0;
}

.circle {
  position: absolute;
  border: 1.2mm solid $text;
  border-radius: 50%;
  background: transparent;
  transform: translate3d(0, 0, 0);
}
